@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Nunito:wght@200;300;400;500;700&family=Poppins:wght@300;400;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* height:100vh ; 
 width: 100%; */
  background: linear-gradient(45deg, rgb(55, 55, 131), rgb(213, 110, 213));
  width: 100%;
  height: 89vh;
  font-family: Arial;
  font-size: 16px;
  /* display: flex; */
  align-items: center;
  justify-content: space-around;
  /* min-height: 100vh; */
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(17px);
  --webkit-backdrop-filter: blur(17px);
  border-radius: 1px solid rgba(255, 255, 255, 0.7);
  transition: width 0.3s ease;
}
.sidebar:hover {
  width: 260px;
}

.sidebar .logo {
  color: #000;
  display: flex;
  align-items: center;
  padding: 25px 10px 15px;
}
.logo h2 {
  font-size: 1.15rem;
  font-weight: 600;
  margin-left: 15px;
  display: none;
}
.sidebar:hover .logo h2 {
  display: block;
}
.logo img {
  width: 60px;
  border-radius: 50%;
}

.sidebar .links {
  list-style: none;
  margin-top: 20px;
  overflow-y: auto;
  scrollbar-width: none;
  height: calc(100% - 140px);
}
.sidebar .links::-webkit-scrollbar {
  display: none;
}
.links li {
  display: flex;
  border-radius: 4px;
  align-items: center;
}
.links li:hover {
  cursor: pointer;
  background-color: #6a3ec2;
}
.links .material-symbols-outlined {
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 25px;
}
.links hr {
  margin: 10px 8px;
  border: 1px solid #4c4c4c;
}
.sidebar:hover .links hr {
  border-color: transparent;
}
.links li a {
  /* padding: 10px; */
  padding-left: 12px;
  padding-bottom: 20px;
  color: #000;
  display: none;
  font-weight: 600;
  white-space: nowrap;
  text-decoration: none;
}
.sidebar:hover .links li a {
  display: block;
}
.links .logout-link {
  margin-top: 20px;
  font-weight: bolder;
}

/* cards */
.container {
  display: flex;
  margin-top: 80px;
  margin-right: 80px;
  margin-left: 300px;
  margin-bottom: 300px;
}
.container img {
  /* max-width: 100%; */
  display: block;
  height: 350px;
}

.ui-card {
  width: 350px;
  margin: 15px;
  box-shadow: 5px 5px 20px black;
  background: radial-gradient(#111 50%, #000 100%);
  overflow: hidden;
  position: relative;
  border-radius: 50px;
}
.ui-card img {
  transform: scale(1.3);
  transition: all 0.3s ease-out;
}
.ui-card:hover img {
  transform: scale(1.1) translateY(-20px);
  opacity: 0.3;
}
.description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.description h3 {
  font-family: "General Sans-Medium";
  font-weight: 700;
  font-size: 32px;
  margin: 0 0 20px;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out 0.2s;
}
.description p {
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out 0.2s;
}
.ui-card:hover .description h3 {
  transform: translateY(0px);
  opacity: 1;
}
.ui-card:hover .description p {
  transform: translateY(0px);
  opacity: 1;
}
/* button */
.but a {
  position: absolute;
  top: 570px;
  left: 30%;
  margin-left: 270px;
  width: 300px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "General Sans-Medium";
  box-sizing: border-box;
  background: linear-gradient(90deg, #23368b, #0d2f51);
  background-size: 400%;
  border-radius: 10px;
}
.but a:hover {
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
/* .but h3 {
  font-family: "General Sans-Medium";
  margin-top: -180px;
  margin-left: 200px;
  font-size: 5vh;
  border-color: #000;
  color: white;
  text-decoration: underline;
  font-weight: 700;
} */
