@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Nunito:wght@200;300;400;500;700&family=Poppins:wght@300;400;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, rgb(55, 55, 131), rgb(213, 110, 213));
  width: 100%;
  height: 100vh;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(17px);
  --webkit-backdrop-filter: blur(17px);
  border-radius: 1px solid rgba(255, 255, 255, 0.7);
  transition: width 0.3s ease;
}
.sidebar:hover {
  width: 260px;
}

.sidebar .logo {
  color: #000;
  display: flex;
  align-items: center;
  padding: 25px 10px 15px;
}
.logo h2 {
  font-size: 1.15rem;
  font-weight: 600;
  margin-left: 15px;
  display: none;
}
.sidebar:hover .logo h2 {
  display: block;
}
.logo img {
  width: 60px;
  border-radius: 50%;
}

.sidebar .links {
  list-style: none;
  margin-top: 20px;
  overflow-y: auto;
  scrollbar-width: none;
  height: calc(100% - 140px);
}
.sidebar .links::-webkit-scrollbar {
  display: none;
}
.links li {
  display: flex;
  border-radius: 4px;
  align-items: center;
}
.links li:hover {
  cursor: pointer;
  background: #fff;
}
.links .material-symbols-outlined {
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 25px;
}
.links hr {
  margin: 10px 8px;
  border: 1px solid #4c4c4c;
}
.sidebar:hover .links hr {
  border-color: transparent;
}
.links li a {
  /* padding: 10px; */
  padding-left: 12px;
  padding-bottom: 20px;
  color: #000;
  display: none;
  font-weight: 600;
  white-space: nowrap;
  text-decoration: none;
}
.sidebar:hover .links li a {
  display: block;
}
.links .logout-link {
  margin-top: 20px;
  font-weight: bolder;
}

/* hero */
/* .hero{
  min-height: 100vh;
  width: 100%;
  background: url(images/bg-dot.png),url(images/bg-dot.png),url(images/bg-round.png),url(images/bg-tree.png);
  background-position: 10px 10px, bottom 215px right 10px, left 55% top -1%, left 45% bottom -1px;
  background-repeat: no-repeat;
} */
.curveImg {
  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}
.hero .row {
  display: flex;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: 0 60px;
  gap: 30px;
  justify-content: space-between;
}
.hero .row h2,
.hero .row p {
  color: #fff;
  margin-left: 210px;
}
.hero .row p {
  font-family: "General Sans-Medium";
  font-weight: 200;
  font-size: 1.5vw;
}
.hero .row h2 {
  font-family: "General Sans Medium";
  font-size: 3.4vw;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
  opacity: 0.8;
  margin-bottom: 16px;
}
.hero .column {
  width: 50%;
}
.hero_img {
  width: 95%;
  z-index: 10;
  position: relative;
  border: none;
  border-radius: 80%;
  opacity: 0.7;
  margin-left: 25px;
  /* filter: grayscale(100%);
  cursor: pointer;
  transition: 0.5s ease; */
}
/* .hero_img:hover{
  transform: scale(1.1);
  filter: grayscale(0%);
} */
